:root {
  --Primary-color: #00305c;
  --Secondary-color: #00c4df;
  --Accent-color: #dbfbff;
  --font-color-white: #fff;
  --font-color-black: #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    background:#eef0f3;
    position: relative;
    display: flex;
}

/* Side Menu */
#menu{
    background: var(--Primary-color);
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#menu .logo img{
    width: 40px;
    margin-right: 50px;
}
#menu .logo h2{
    font-size: 25px;
    font-weight: 600;
}
#menu .logo{
    display: flex;
    align-items: center;
    color: var(--font-color-white);
    padding: 30px 0 0 30px;
}
#menu .items{
    margin-top: 40px;
}
#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: .3s ease;
    font-size: 15px;
}
#menu .items li i{
    color: var(--Accent-color);
    width: 30px;
    height: 20px;
    line-height: 1.5rem;
    text-align: center;
    font-size: 20px;
    margin: 0 10px 0 25px;
}
#menu .items li a{
    text-decoration: none;
    color: var(--Accent-color);
    font-weight: 300;
    transition: .3s ease;
}
#menu .items li:hover{
    background: var(--Secondary-color);
    cursor: pointer;
}

#menu .items li:hover i,
#menu .items li:hover a{
    color: var(--Primary-color);
}

/* Interface */
#interface{
    width: calc(100% - 300px);
    position:relative;
    margin-left: 300px;
}
#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--Accent-color);
    padding: 15px 30px;
    border-bottom: 3px solid var(--Secondary-color);
    position: fixed;
    width: calc(100% - 300px);
}
#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 12px;
    border: 2px solid var(--Primary-color);
    border-radius: 5px;
}
#interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
    background: none;
}
#interface .navigation .search i{
    margin-right: 10px;
}

#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}
#interface .navigation .profile i{
    margin-right: 10px;
    font-size: 1.4rem;
    font-weight: 400;
}
#interface .navigation .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
#interface .navigation .log_out h3{
    font-size: 14px;
    margin-left: 10px;
}
#interface .navigation .log_out a{
    text-decoration: none;
    color: var(--Primary-color);
}
.i-name{
    color: var(--Primary-color);
    padding: 20px 30px 0 30px;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 70px;
}
/* Cards */
.values{
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
 .values .val-box{
    background: var(--font-color-white); 
    width: 200px;
    padding: 16px 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
 }

 .values .val-box i{
     font-size: 25px;
     width: 60px;
     height: 60px;
     line-height: 60px;
     border-radius: 50%;
     color: var(--font-color-white);
     text-align: center;
     margin-right: 18px;
 }
 .values .val-box:nth-child(1) i{
     background: #0097fc ;
 }
 .values .val-box:nth-child(2) i{
    background: #02ffc8 ;
}
.values .val-box:nth-child(3) i{
    background: #ff00fb ;
}
.values .val-box:nth-child(4) i{
    background: #ff0080 ;
}
 .values .val-box h3{
     font-size: 1.8rem;
     font-weight: 600;
 }
 .values .val-box span{
     font-size: 1.5rem;
     color: #99b5bccc;
 }
 
 /* Board */
 .board{
     width: 95%;
     margin: 30px 0 30px 30px;
     overflow: auto;
     background: var(--font-color-white);
     border-radius: 8px;
 }
 .board img{
     width: 45px;
     height: 45px;
     object-fit: cover;
     border-radius: 50%;
     margin-right: 15px;
 }
 .board h5{
     font-size: 14px ;
     font-weight: 600;
 }
 .board p{
     font-size: 15px;
     font-weight: 400;
     color: #99b5bccc;
 }

 .board .people{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     text-align: start;
 }


 table{
     border-collapse: collapse;
 }
 tr{
     border-bottom: 1px solid var(--Accent-color);
 }
 thead td{
     font-size: 14px;
     text-transform: uppercase;
     font-weight: 400;
     background: var(--Accent-color);
     text-align: start;
     padding: 15px;
 }
 tbody tr td{
     padding: 10px 15px;
 }
 tbody .people-massage button{
     font-size: 14px;
 }

 .active p{
     background: #02ffc8;
     padding: 2px 10px;
     border-radius: 30px;
     display: inline-block;
     color: #2b2b2b;
 }
 .pending p{
    background: #989898;
    padding: 2px 10px;
    border-radius: 30px;
    display: inline-block;
    color: #2b2b2b;
}
.cancel p{
    background: #c09320;
    padding: 2px 10px;
    border-radius: 30px;
    display: inline-block;
    color: #2b2b2b;
}
 .edit a{
     text-decoration: none;
     font-size: 14px;
     color: #0097fc;
     font-weight: 600;
 }

 .n1{
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }

 #menu-btn{
     color: #2b2b2b;
     cursor: pointer;
     margin-right: 10px;
     font-size: 18px;
     display: none;
 }


 /* Manage Vehicles */
.manage{
    width: 95%;
    margin: 20px 0 0 30px ;
    overflow: auto;
}

.manage button{
    font-size: 14px;
    margin: 0 5px;
}
.manage .modal button{
    width:20%;
}

 @media screen and (max-width:769px) {
     #menu{
         width: 270px;
         position: fixed;
         left: -720px;
         transition: .3s ease;
     }

     #interface{
         width:100% ;
         margin-left: 0;
         display: inline-block;
         transition: .3s ease;
         
     }

     #interface .navigation{
         width: 100%;
     }

     .values{
     padding: 30px 30px 0 30px;
     justify-content: flex-start;
      }

      .values .val-box{
          padding: 16px 20px;
          margin: 10px 20px 10px 0;
      }
      .board{
          width: 92%;
          padding: 0;
          overflow-x: auto;
      }
      table{
          width: 100%;
          border-collapse:collapse;
      }
      #menu-btn{
          display: initial;
      }
      #menu.active{
          left: 0px;

      }
      #menu.active~ #interface{
          width: calc(100% - 270px) ;
          margin-left: 270px;
          transition: .3s ease;
      }
 }
 @media screen and (max-width:480px) {
    #interface .navigation{
        padding: 15px;
    }
    #interface .navigation .search input{
        width: 100px;
    }
    .i-name{
        padding: 30px 15px 0 15px;
    }
    .values{
        padding: 15px 15px 0 15px;
    }
    .values .val-box{
        width: 100%;
        margin: 8px 0;
    }
    .board{
        margin: 30px 15px;
    }
 }