/* About hero section */
.about-hero{
    height:60vh;
    padding: 1rem;
    background: url(../Images/aboutbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-hero .hero-content h2,
.about-hero .hero-content p{
    color: #fff;
}

.about-hero .hero-content h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.about-hero .hero-content p{
    font-size: 1.9rem;
    font-weight: 500;
}

/* about content */
.about_content{
    padding: 2rem;
}
.about_content .about_head h2{
    font-size: 2rem;
    font-weight: 600;
    color: #00305c;
}
.about_content .about_body p{
    font-size: 1.5rem;
}
@media screen and (min-width:786px) {
    .about_content{
        padding: 3rem;
    }
    .about_content .about_head h2{
        font-size: 2.3rem;
        font-weight: 600;
        color: #00305c;
    }
    .about_content .about_body p{
        font-size: 1.8rem;
        color: #00305c;
    }
}


.about .about_image{
width:100%;
} 
.about .about_image img{
    width: 30rem;
}
.about .about-text p{
  font-size: 2rem;
  font-weight: 500;
}
.about .about-text h3{
    font-size: 2.5rem;
    font-weight: 600;
}
.about .dash{
    width: 4rem;
    height: 6px;
    background-color: #00c4df;
}
.about .about_brif p{
    font-size: 1.5rem;
}
.about .about-text p,.about .about-text h3,.about .about_brif p{
    color: #00305c;
}


@media screen and (min-width:786px) {
    .about-hero{
        height:100vh;
    }
    .about-hero .hero-content h2{
        font-size: 4rem;
        font-weight: 700;
    }
    .about-hero .hero-content p{
        font-size: 2rem;
        font-weight: 500;
    }
    
    .about{
        padding: 2rem;
        display: flex;
    }
    .about .about_image img{
        width: 35rem;
    }
    .about .about-text p{
      font-weight: 500;
      font-size: 2.2rem;
    }
    .about .about-text h3{
        font-size: 2.8rem;
        font-weight: 600;
    }
    .about .about_brif p{
        font-size: 1.8rem;
    }

}

