.hero-available{
    background-color: #8eb6db;
    padding: 1rem;
}
.hero-available .car-option{
padding: 1rem;
background-color: #fff;
border-radius: .4rem;
}
.car-option .heading h2,
.car-option .category h2,
.car-option .car-range h2,
.car-option .car-transmit h2{
    font-size: 2.3rem;
    font-weight: 500;
    margin-top:1.5rem;
}
.car-option .search-location .input-text,
.car-option .category .form-select{
    margin-top: .5rem;
    width: 100%;
    height: 4.5rem;
    font-size: 1.5rem;
    padding: 1rem;
}
.car-option .car-range{
    width: 100%;
}
.car-option .category .form-select,
.car-option .car-range{
    margin-top: .5rem;
}
.car-option .car-transmit{
    font-size: 1.5rem;
}
/* .car-option .car-transmit .form-check{
 margin-left: -1rem;
} */
.car-option .clear-fill{
margin-top: 2rem;
}
.car-option .clear-fill .btn_primary{
    width: 100%;
    border-radius: 3px;   
}
.car-option .clear-fill .btn_primary:hover{
    background-color: #00305c;
    color: #fff;
}
/* Car search */
.search-text h2{
 margin-top: 2rem;
 font-size: 2.5rem;
 font-weight: 500;
 color:#00305c;
}
.search-car{
    margin-top: 1rem;
}
.search-car .form-control{
    height: 4.5rem;
    font-size: 1.5rem;
}
.search-car .btn_primary{
    border-radius: 3px;
}
.search-car .btn_primary:hover{
    background-color: #00305c;
    color: #fff;
}
.available-cars{
    margin-top: 5rem;
    font-size: 2.5rem;
    font-weight: 700;
    color:#00305c;
}
@media screen and (min-width:767px) {
.hero-available{
    margin-top: 5rem;
    padding: 6rem;
      display: flex;
}
.car-option .search-location .input-text,
.car-option .category .form-select{
    margin-top: 1rem;
    font-size: 1.8rem;
 }
 .search-text h2{
    font-size: 3rem;
   }
 .search-text h2,
 .search-car{
    margin-top: 0;
    margin-left: 3rem;
 }
 .available-cars{
    margin-top: 5rem;
    font-size: 3rem;
   
    
}
}