@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
:root {
  --Primary-color: #00305c;
  --Secondary-color: #00c4df;
  --Accent-color: #dbfbff;
  --font-color-white: #fff;
  --font-color-black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* Font family
    font-family: 'Open Sans', sans-serif;

    font-family: 'Raleway', sans-serif; */
body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
/* helper class */
.align-center {
  display: flex;
  justify-content: center;
  align-content: center;
}
/* btn */
.btn-basic {
  padding: 1rem 2.5rem;
  border: 0;
  font-size: 1.3rem;
  background: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #000;
}
.btn_primary {
  border-radius: 2rem;
  background: var(--Secondary-color);
  color: #fff;
}
.btn_primary:hover {
  background: none;
  color: #000;
  border: 1px solid var(--Primary-color);
}
.btn_outline {
  border-radius: 2rem;
  border: 1px solid var(--Primary-color);
}
.btn_outline:hover {
  background-color: var(--Secondary-color);
  color: #fff;
  border: 0;
}

/* Navbar */
.navbar {
  position: fixed;
  height: 6rem;
  background-color: var(--Accent-color);
}
.navbar .navbar-brand {
  font-size: 3rem;
}
.navbar .navbar-toggler {
  font-size: 1.6rem;
  margin-right: 3rem;
}
.navbar-nav .nav-item a {
  font-size: 1.8rem;
  color: var(--font-color-black) !important;
}
.navbar-nav .nav-item a:hover {
  color: var(--Primary-color) !important;
}
.navbar-nav .nav-item {
  margin-left: 3rem;
}
.navbar .navbar-collapse {
  background-color: var(--Accent-color);
}

/* hero section */
.hero-section {
  height: 80rem;
  background-image: url(/Images/heroBb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -86;
}
.hero-section .contain {
  width: 100%;
  height: 45rem;
  background-color: #000;
  border-radius: 3rem;
  opacity: 50%;
  position: relative;
  top: 32rem;
}
.hero--content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--font-color-white);
  position: relative;
  top: -10rem;
}
.hero--content .hero-head h2 {
  font-size: 3rem;
  font-weight: bold;
}
.hero--content .hero-paragraph p {
  font-size: 1.8rem;
}
.hero--content .dash {
  width: 40px;
  height: 5px;
  background-color: var(--Secondary-color);
  margin: 0.7rem 0 1rem 0;
}
.hero--content .hero--btn {
  margin-top: 6rem;
}
.hero--content .hero--btn .btn_primary {
  border-radius: 5px;
  background-color: var(--Primary-color);
}
.hero--content .hero--btn .btn_primary:hover {
  background: none;
  color: #00c4df;
  border: 2px solid var(--Primary-color);
}
.hero--content .hero--btn .btn_primary,
.hero--content .hero--btn .btn_outline {
  font-size: 1.5rem;
}

.hero--content .hero--btn .btn_outline {
  color: #00c4df;
  border-radius: 5px;
  border: 2px solid var(--Primary-color);
}
.hero--content .hero--btn .btn_outline:hover {
  background-color: var(--Primary-color);
  color: #fff;
}
.hero-section .hero--content .hero--btn a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .hero-section {
    height: 100vh;
    width: 135.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hero-section .contain {
    position: relative;
    top: 10rem;
  }
  .hero--content {
    position: relative;
    top: -32rem;
    left: 6px;
  }
}
@media screen and (min-width: 868px) {
  .hero--content {
    position: relative;
    top: -28rem;
  }
}

/* form group component */
.form-group {
  position: absolute;
  top: 20%;
  left: 1rem;
}
.form-group .form-control {
  width: 30rem;
  height: 5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}
::placeholder {
  color: var(--Primary-color);
}
.form-group .btn_primary {
  height: 5rem;
  border-radius: 10px;
  background-color: var(--Primary-color);
}
.form-group .btn_primary:hover {
  background: none;
  color: var(--Primary-color);
  border: 2px solid var(--Primary-color);
  font-weight: 700;
}
.form-group .btn_primary,
.form-group.hero--btn .btn_outline {
  font-size: 1.5rem;
}
@media screen and (min-width: 560px) {
  .form-group .form-control {
    width: 50rem;
    height: 5rem;
    border-radius: 10px;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 760px) {
  .form-group {
    position: relative;
    top: 45%;
  }
  .form-group .form-control {
    width: 37rem;
    height: 5rem;
    border-radius: 10px;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .form-group .form-control {
    width: 48rem;
  }
}
@media screen and (min-width: 1080px) {
  .form-group .form-control {
    width: 52rem;
  }
}

/*Step section*/
.work-description .work_text {
  font-weight: 700;
}

.work-description .work_text .work__head {
  font-size: 2rem;
  color: #5e5d5d;
}
.work-description .work_text .work__body {
  font-size: 3rem;
  color: var(--Primary-color);
}

.work-illustration .work__illus-bg {
  width: 15rem;
  height: 15rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  box-shadow: 0 0 15px 0.1px #b0b0b1;
  transition: all 0.5s ease;
}
.work-illustration .work__illus-bg:hover {
  background-color: var(--Primary-color);
  box-shadow: 0 0 15px 0.1px #01274b;
}
.work-illustration .work__illus-bg .work__icon {
  width: 7rem;
}
.work-illustration .illus__text {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--Primary-color);
  transition: all 0.5s ease;
}
.work-illustration .illus__text:hover {
  color: var(--Secondary-color);
}

/* images slide section under the caruosel  and features  */
.carousel {
  width: 42rem;
}
.carousel .carousel-inner .carousel-item img {
  border-radius: 1rem;
}
.feature--container-fluid {
  margin-top: 4rem;
}
.features {
  margin-left: 2rem;
  display: flex;
}
.feature-text h1 {
  margin-top: 5rem;
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--Primary-color);
}
.features .feature_icon img {
  width: 8rem;
}
.features .feature_content h2 {
  color: var(--Primary-color);
  font-size: 2rem;
  font-weight: 900;
}
.features .feature_content p {
  color: #797979;
  font-size: 1.5rem;
}
@media screen and (min-width: 786px) {
  .feature--container-fluid {
    display: flex;
  }
  .carousel {
    width: 39rem;
  }
}

@media screen and (min-width: 1020px) {
  .feature--container-fluid {
    display: flex;
  }
  .carousel {
    width: 50rem;
  }
}
@media screen and (min-width: 1200px) {
  .feature--container-fluid {
    display: flex;
  }
  .carousel {
    width: 60rem;
  }
}

/* Cars booking card  */
.popular-cars h2 {
  margin: 4rem;
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--Primary-color);
}
.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.car_book-card {
  width: 30rem;
  height: 42rem;
  margin-bottom: 5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px 3px #c4c6c9;
}
.car_book-card .car-image img {
  width: 29rem;
  position: relative;
  top: 5px;
  left: 5px;
  border-radius: 8px;
}
.car_book-card .car-content {
  padding-left: 1rem;
}
.car_book-card .car-content .car_name,
.car_book-card .car-content .car_price {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--Primary-color);
}
.car_book-card .car-content .car_type {
  font-size: 1.4rem;
  color: var(--Secondary-color);
}

.car_book-card .car-content .car_price .form-select {
  width: 28rem;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.car_book-card .car-content .car_button .btn_outline {
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .booking-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .car_book-card {
    margin-bottom: 0;
    margin: 5rem;
  }
}
/* Callout component */
.container-callout {
  background-color: var(--Secondary-color);
  padding: 4rem;
}
.container-callout .callout-text {
  margin-right: 6rem;
}
.container-callout .callout-heading {
  font-size: 4rem;
  font-weight: 700;
}
.container-callout .callout-paragraph {
  font-size: 2rem;
}

.container-callout .form-group {
  margin-top: 4rem;
  position: relative;
  left: 0;
}
@media screen and (min-width: 768px) {
  .container-callout {
    display: flex;
  }
  .container-callout .form-group {
    margin-top: 0;
    position: relative;
    left: 0;
    top: 0;
  }
  .container-callout .form-group .form-control {
    width: 80%;
  }
}

/* footer section */
.footer-section {
  background-color: var(--Primary-color);
}
.footer-section .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container .footer-brand h1 {
  font-size: 4rem;
  font-weight: 600;
}
.footer-container .footer-links .footer-item {
  font-size: 1.8rem;
  list-style: none;
}
.footer-container .footer-brand,
.footer-container .footer-links,
.footer-container .footer-text {
  margin-top: 2rem;
}
.footer-links .footer-item a {
  color: var(--font-color-white);
  text-decoration: none;
}
.footer-links .footer-item a:hover {
  color: var(--Secondary-color);
}
.footer-section .footer-container .footer-text {
  padding: 2.5rem;
  text-align: center;
  color: var(--font-color-white);
}
.footer-section .footer-container .footer-text h3 {
  font-size: 2rem;
}
.footer-section .footer-container .footer-text p {
  font-size: 1.5rem;
}

.footer-section .footer-copy {
  font-size: 2rem;
}
@media screen and (min-width: 786px) {
  .footer-section .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
  }
  .footer-container .footer-brand {
    margin-bottom: 3rem;
  }
  .footer-container .footer-links {
    margin-top: 5.3rem;
  }
  .footer-section .footer-container .footer-text {
    margin-bottom: 2rem;
  }
}
