.carousel-item{
    width: 60vw;
    height: 65vh;
}
.carousel-item .carousel-image{
    width: 80rem;
    height: 40rem;
}
@media screen and (min-width:786px) {
    .carousel-item{
        width: 100vw;
        height: 100vh;
    }
    .carousel-item .carousel-image{
        width: 100%;
        height: 100%;
    }
}
/* Find section */
.find-section{
    margin-top: 3rem;
    padding: 2rem;
}
.find-section .find-image img{
    width: 45rem;
    margin-top: 3rem;
    border-radius:32% 68% 72% 28% / 37% 30% 70% 63%;
}
.find-section .find-text h3{
  font-size: 2.5rem;
  font-weight: 600;
  color: #00305c;
}
.find-section .find-text p{
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: #00305c;
  }
  .find-text_color{
      color: #00c4df;
  }
  .find-section .find-text .btn_outline{
    margin-top: 1rem;
    border-radius: 10px;
    color: #00305c;
  }
  .find-text .btn_outline a{
      color: #00305c;
      text-decoration: none;
      font-size: 1.8rem;
  }


@media screen and (min-width:786px) {
    .find-section{
        display: flex;
        flex-direction: row;
    }
    .find-section .find-image{
        margin-left: 6rem;
    }
    .find-section .find-text{
        margin-left: 2rem;
        padding: 2rem;
    }
    .find-section .find-text h3{
      font-size: 3rem;
    }
    .find-section .find-text p{
        font-size: 1.8rem;
      }
}
/* Testimonial card */
.testimonial-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}
.testimonial-card .testimonials{
    padding: 1rem;
    display: flex;
    box-shadow: 0 0 15px 0.1px #e3e5e6;
    border-radius: 1rem;
    margin: 2rem 0 2rem 0;
}
.testimonials .testimonial-icon img{
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
    border-radius: 50%;
}
.testimonials-detaila{
   padding: 2rem;
}
.testimonials-detaila .head h2{
   font-size: 1.8rem;
   font-weight: 600;
}
.testimonials-detaila .head p{
    font-size: 1.5rem;
}
.testimonials-detaila .body p{
    margin-top: 2rem;
    font-size: 1.5rem;
}
@media screen and (min-width:786px) {
    .testimonial-card{
        display: flex;
        flex-direction: row;
    }
    .testimonial-card .testimonials{

        display: flex;
        margin: 0 2rem 0 2rem;

    }
    .testimonials .testimonial-icon img{
        margin-top: 1.5rem;
        width: 8rem;
        height: 8rem;
    }
    .testimonials-detaila{
       padding: 2rem;
    }
    .testimonials-detaila .head h2{
       font-size: 2rem;
    }
    .testimonials-detaila .head p{
        font-size: 1.8rem;
    }
    .testimonials-detaila .body p{
        font-size: 1.8rem;
    }
}
/* Features */
.feature-head{
    margin-top: 4rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #00305c;
}
.features{
    margin-top: 2rem;
    padding: 1rem;
}
.features .feature-text{
    margin: 1rem 0 2rem 0;
    display: flex;
}
.features .feature-text p{
    margin-top: 1.1rem;
    font-size: 1.5rem;
    color: #00305c;
}
@media screen and (min-width:786px) {
    .features{
      display: flex;
    }
    .feature-head{
        font-size: 3rem;
    }
    .features .feature-car{
        margin-left: 2rem;
    }
    .features .feature-text{
        margin: 3rem;
        display: flex;
    }
    .features .feature-text p{
        margin-top: 1.3rem;
        font-size: 1.8rem;
    }
}