<footer class="footer-section">
  <div class="col-sm-12">
    <div class="footer-container">
      <div class="footer-brand">
        <h1>GPrentals</h1>
      </div>
      <div class="footer-links">
        <ul>
          <li class="footer-item">
            <a aria-current="page" href="Pages/rent.html">Rent</a>
          </li>
          <li class="footer-item">
            <a href="Pages/AvailableCar.html">Available Cars</a>
          </li>
          <li class="footer-item">
            <a href="Pages/Service.html">Services</a>
          </li>
          <li class="footer-item">
            <a href="Pages/AboutUs.html">About Us</a>
          </li>
        </ul>
      </div>
      <div class="footer-text">
        <h3>Lorem ipsum dolor sit.</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum modi
          aspernatur a vitae!
        </p>
      </div>
    </div>
    <div class="footer-copy d-flex justify-content-center">
      <p>Copyright&copy; Perry || All Rights Reserved || 2022</p>
    </div>
  </div>
</footer>
